body {
    font-family: Arial, Verdana, serif;
    background: white;
    font-size: 2rem;

}
ul {

}
a {
    padding: 10px;
    color: white;
}
li {
    background: red;
    display: inline;
    border: 1px solid lightblue;
}
h1 {
    background: #bb9067 linear-gradient(green, blue, yellow) ;
}